.pagination__block {
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    display: flex;
}

.pagination__block a {
    background-color: #5c24f7;
    color: #fff;
    padding: 5px 5px;
    font-size: 16px;
    margin: 5px;
}

a.selected {
    font-weight: 600;
    background-color: #f37021;
    color: #000;
}